.login_info {
	position: fixed;
	top: 5px;
	right: 10px;
}

.onlines {
	position: fixed;
	bottom: 0;
	right: 0;
	padding: 5px;
	width: 150px;
	border-top: 1px black solid;
	border-left: 1px black solid;
    z-index: 2;
    background: white;
}

.left_menu {
	position: fixed;
	width: 190px;
	border-right: 1px black solid;
	padding: 5px;
	margin: 0;
	top: 0;
	left: 0;
	height: 100vh;
}

.content {
	margin-left: 200px;
}

.messages {
	
}

#messages_show_more {
	cursor: pointer;
}

.message {
	padding: 3px;
	margin: 3px;
}

.message_out {
    text-align: right;
}

.message .ts {
    float: right;
    font-size: 10px;
    color: grey;
    padding-left: 5px;
    padding-top: 3px;
}

.users {
	border-bottom: 1px black solid;
	padding: 3px;
    position: fixed;
    background: white;
    z-index: 1;
}

.message_form {
    position: fixed;
    bottom: 0;
    z-index: 1;
    background: white;
}

.user {
	display: inline-block;
	padding: 3px;
	border-radius: 3px;
	border: 1px blue solid;
	background: rgb(172, 209, 255);
	cursor: pointer;
}

.messages_texts {
    padding: 40px 200px 20px 3px;
}